:root{
    --primary-color: #009688;
    --secondary-color: #960000b0;
    --color-blue: #372ee6;
    --color-purple: #cf067f;
}

::selection {
    background: var(--secondary-color);
    color: white;
}

.mid-text{
    font-size: 1.25rem;
}
.small-text{
    font-size: 1rem;
}

.fw-mid{
    font-weight: 500;
}

.k-header{
    text-transform: capitalize;
}

.d-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
}

.k-map{
    margin: 0 0 1rem 0;
    /* overflow: hidden; */
    border-radius: .5rem;
    /* border: 1px solid var(--secondary-color); */
    margin-bottom: 2rem;
}

.d-flex-col{
    display: flex;
    flex-direction: column;
}

.d-flex > * {
    /* display: block; */
    margin: 0;
    /* border: solid red 1px; */
}

.k-icons{
    font-size: 2rem;
    display: flex;
    width: 2rem;
    justify-content: center;
}

.highlights::selection{
    color: white;
    background-color: var(--primary-color) !important;
}

.m-r2 {
    margin-right: 2rem;
}

.k-posa{
    position: absolute;
    backface-visibility: hidden;
    
    animation: scaleImg 15s backwards ease-in-out infinite alternate;
}

@keyframes scaleImg {
    0% {
        transform: scale(1.2);
        /* width: 120%; */
    }
    100%{
        transform: scale(1.5);
        /* width: 100%; */
    }
}
